{% extends "AirBlogBundle::base.html.twig" %}

{% set hideSidebar = true %}
{% set hideSearch = true %}

{% block pageTitle %}Ustawienia konta{% endblock %}

{% block contentTitle %}Ustawienia konta{% endblock %}

{% block content %}

    {% include 'AirBlogBundle:Template:flashMsg.html.twig' %}
    
<div class="two-cols account-settings">
    <div class="col">
        <h2 class="strong">Zmień dane konta</h2>
        
        {% form_theme accountSettingsForm 'AirBlogBundle:Form:form_template.html.twig' %}
        {{ form_start(accountSettingsForm) }}
        
            <div class="avatar-row">
                <img src="{{ asset(user.avatar) }}" alt="">
                {{ form_row(accountSettingsForm.avatarFile) }}
            </div>
            
            {{ form_rest(accountSettingsForm) }}
        
        {{ form_end(accountSettingsForm) }}
        
    </div>

    <div class="col col-bdl">
        <h2 class="strong">Zmiana hasła</h2>
        
        {% form_theme changePasswdForm 'AirBlogBundle:Form:form_template.html.twig' %}
        {{ form(changePasswdForm) }}
        
    </div>
</div>
{% endblock %}