{% extends "AirBlogBundle::base.html.twig" %}

{% set hideSidebar = true %}
{% set hideSearch = true %}

{% block pageTitle %} Zaloguj się lub zarejestruj {% endblock %}

{% block contentTitle %} Logowanie i rejestracja {% endblock %}

{% block content %}
    
    {% include 'AirBlogBundle:Template:flashMsg.html.twig' %}
    
<div class="login-register two-cols">
    <div class="col col-bdr">

        <h2 class="strong">Logowanie</h2>
        
        {% form_theme loginForm 'AirBlogBundle:Form:form_template.html.twig' %}
        {{ form(loginForm, {'action': path('_check_path')}) }}

        <div class="remember-pass-form">
            <h2 class="strong">Przypomnij hasło</h2>
            
            {% form_theme rememberPasswdForm 'AirBlogBundle:Form:form_template.html.twig' %}
            {{ form(rememberPasswdForm) }}
            
        </div>

    </div>

    <div class="col">

        <h2 class="strong">Rejestracja</h2>

        {% form_theme registerUserForm 'AirBlogBundle:Form:form_template.html.twig' %}
        {{ form(registerUserForm) }}
        
    </div>
</div>
{% endblock %}